-unless @filter.empty?
  #filter
    %ul
      -Label.in(@filter).each do |filter_item|
        %li.item
          %strong{:class => filter_item.facet.color}="#{filter_item.facet.caption}: #{filter_item.caption}"
          =link_to "drop", "/catalog_box",:id => @catalog, :filter => @filter.to_query_exclude(filter_item.id), :class => "facet_drop_link"
      %li{:style => "clear:both"}=link_to "clear filter", "/catalog_box?id="+@catalog.id.to_s, :class => "clear_filter"
%ul#assets
  =render :partial => "shared/asset", :collection => @assets, :locals => {:tp => nil}
