=content_for :h1 do
  Fassets Development
#sidebar.fassets_core
  -if user_signed_in?
    .collapsible
      %h2.title New Catalog
      =form_for Catalog.new, :url => catalogs_path do |f|
        =render :partial => "form", :object => f
        =submit_tag "Create"
  %ul.collection
    -Catalog.all.each do |catalog|
      %li
        =link_to(catalog.title, catalog_path(catalog))
        .content=catalog.info

#main

