=javascript_include_tag 'fassets_core/assets'
#catalog_list
  =render :partial => "box_catalog_list", :locals => {:selected_catalog => selected_catalog}
#box_content
  =render :partial => "box_content"
#facets
  =render :partial => "box_facet", :collection => @catalog.facets, :as => :facet
