li.asset {
  position: relative;
  display: inline-block;
  width: 100px;
  height:  112px;
  padding: 6px;
  margin: 0 2em .5em 0;
  background: #666666;
  border-radius: 5px;
  border: 2px solid black;

  .asset_content {
    width: 80px;
    height: 80px;

    .icon {
      display: block;
      position: relative;
      width: 72px;
      height: 72px;
      padding-top: 4px;
      padding-left: 12px;
      padding-right: 8px;
      padding-bottom: 8px;

      .thumbnail img {
        border: 2px solid silver;
      }
    }
    .caption {
      display: block;
      background: black;
      color: white;
      position: relative;
      bottom: 2px;
      left: 0px;
      width: 88px;
      border-radius: 5px;
      border: 1px solid black;
      text-align: center;
      margin-left: 4px;
      margin-top: 4px;
      margin-bottom: 2px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      height: 1.5em;

      a {
        margin-top: 0;
      }
    }
  }

  .asset_actions {
    width: 55px;
    height: 65px;
    position: absolute;
    left: 112px;
    top: 19px;
    display: none;
    z-index: 10;
    background: #666666;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 2px solid black;
    border-left-style: none;
    padding: 3px;

    input {
      margin: 2px;
    }
  }
}
