%li.asset{:id => tp ? "tp_#{tp.id}" : "asset_#{asset.id}", :rel => tp ? asset.id : nil, :asset_id => asset ? asset.id: nil}
  .asset_content
    .icon
      =render :partial => content_partial(asset.content, :icon), :locals => {:content => asset.content}
    .caption
      =link_to truncate(asset.name,:length => 13,:omission => "..."), asset_content_path(asset.content), :class => "caption"
  .asset_actions
    .action
      -if user_signed_in?
        =button_to "Edit", asset_content_path(asset.content) + "/edit", :method => :get
        =#image_tag "fassets_core/drag.png", :width => 12, :height => 13, :class => "handle"
        -if tp
          =button_to "Drop", main_app.user_tray_position_path(current_user,tp.id), :method => :delete 
        -else
          -@content = asset.content
          =render :partial => "assets/put_on_tray", :locals => {}
