- if user_signed_in?
  =form_tag(main_app.replace_user_tray_positions_path(current_user), :user_id => current_user.id, :id => "tray", :method => :put) do
    %ul#create_links
      %li=link_to "New Assets", "", :id => "new_asset_link"
      =yield :create_asset_link
    %ol.sortable{:id => "users.#{current_user.id}.tray_positions.replace",:class => "sortable_tray"}
      -current_user.tray_positions.each do |tp|
        -if tp.clipboard_type
          =render :partial => "shared/clipboard", :locals => {:tp => tp}
        -else
          =render :partial => "shared/asset", :locals => {:tp => tp, :asset => tp.asset}
