/*
 *= require fancybox
 *= require fassets_core/catalog_box
 *= require fassets_core/add_asset_box
 *= require_self
 *= require fassets_core/master
 *= require fassets_core/assets
 *= require fassets_core/tray
 *= require fassets_core/labels
 *= require fassets_core/forms
 *= require fassets_core/collapsible
 *= require fassets_core/sidebar
 *= require fassets_core/filter
 *= require fassets_core/facet
*/
