li.asset {
	position: relative;
        display: inline-block;
	width: 250px;
        height:  48px;
        margin: 0 1em 1em 0;

  .icon {
	float:  left;
	width: 52px;
	height:  48px;
  }

  .caption {
	display: block;
	line-height: 48px;
	height: 48px;
        left: 50px;
	overflow: hidden;
  }

  .type{
	position: absolute;
	top: 2px;
	left:  52px;
	color: #999;
	font-size: .8em;
  }

  .action{
	position: absolute;
	top: 2px;
	right:  2px;
  }

  input {
	position: absolute;
	bottom: 0px;
	left:  52px;
  }
}
