#catalog_list {
  position: absolute;
  left: 0;
  top: 0px;
  height: 100%;
  font-size: 1em;
  padding-right: 0;
  background: silver;
  .catalog_item {
    margin-top: .5em;
    padding: .5em .0em .5em .5em;
    width: 100%;
    height: 16px;
    a {
      float: right;
      padding: .5em;
      padding-right: 1em;
    }
    #selected {
      border: 1px solid white;
      border-right: 1px solid white;
      border-right-style: none;
	    border-top-left-radius: 10px;
	    border-bottom-left-radius: 10px;
      background: white;
    }
  }
}
#content {
  position: absolute;
  height: 100%;
}
#box_content {
  position: relative;
  top: 5px;
  height: 98%;
  left: 200px;
}
#sidebar.box{
  float: right;
  position: absolute;
  right: 10px;
  top: 5px;
  width: 20%; 
}
