.collapsiblePanelTitle {
  display: inline;

  h2 {
    text-align: left;
    margin-bottom: 0;
  }

  img {
    margin: 0.2em 0;
    float: left;
    padding-right: 0.5em;
  }
}

.collapsibleContainerContent {
  padding: 10px;
}

.collapsibleContainer {
  border: solid 1px #9BB5C1;
}

.collapsibleContainerTitle {
  cursor:pointer;
}

.collapsibleContainerTitle div {
  padding-top:2px;
  padding-bottom:2px;
  padding-left:10px;
  font-size: 1.4em;
  background-color: #F5F5F5;
  border: solid 1px grey;
  border-bottom-right-radius: 1em;
  border-top-right-radius: 1em;
  border-bottom-left-radius: 1em;
  border-top-left-radius: 1em;
}

.collection .collapsibleContainerTitle div {
  padding-top:2px;
  padding-bottom:2px;
  padding-left:10px;
  font-size: 1.4em;
  border: none;
  background-color: white;
  color: black;
  border-bottom-right-radius: 1em;
  border-top-right-radius: 1em;
  border-bottom-left-radius: 1em;
  border-top-left-radius: 1em;
}

