.fassets_core {
  text-align: left;

  li {
    list-style: none;
  }
}

a.icon {
	padding-left: 18px;
	background-repeat: no-repeat;
}
a.icon.remove {
  background-image: image-url("fassets_core/remove.png");
}
a.icon.edit {
  background-image: image-url("fassets_core/edit.png");
}
a.icon.link {
  background-image: image-url("fassets_core/link.png");
}
a.icon.file {
  background-image: image-url("fassets_core/image.png");
}

.action {
	font-size: 10pt;
}
.center {
	text-align: center;
}

.clear {
	clear: both;
}


/* @group Header */
#message {
	position:absolute;
	top: 0px;
	left: 0px;
	line-height: 2.3em;
	padding: 0 1em;
	font-weight: bold;
	color: white;
	background-color: #469b00;
}
#error_message {
	position: absolute;
	top: 0px;
	left: 0px;
	line-height: 2.3em;
	padding: 0 1em;
	font-weight: bold;
	color: white;
	background-color: red;
}
#form_error {
	padding: 0 1em;
	font-weight: bold;
	color: red;
}
#header {
	position: relative;
	padding-right: 1em;
	line-height: 2.3em;
	text-align: right;
	background-color: #151515;
	color: #5c5c5c;
}
#header .home {
	font-weight: bold;
	font-size: 1.1em;
}
#header #catalog_select {
  display: inline;
  font-style: normal;
  color:  #167eff;
}
#header em {
	font-weight: bold;
	font-style: normal;
	padding-right: .5em;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
#header a{
	color: #167eff;
}
ul#catalogs {
	display: inline;
}
ul#catalogs li {
	display:inline;
}
#header ul {
	display: inline;
}
#header ul li {
	display:inline;
}
#header ul li .active {
  font-weight:  bold;
}

#header #session {
  display: inline;
}

#toolbar {
	position: absolute;
	bottom: 2px;
	right: 15px;
}
#title {
  height: 60px;
}
/* @end */

/* @group Container */

#container {
	padding: 15px;
  margin-bottom: 10px;
	background-color: white;
}

.active {
	background-color: #dce9ff;
	border: 1px dotted #0060ff;
}
.hover {
	border: 1px solid #0060ff;
	background-color: #dce9ff;
}
#sidebar {
	float: right;
  right: 0%;
  width: 25%;
  height: 100%;
}
#main {
	float: left;
  height: 100%;
  width: 73%;
}
#main p {
	line-height: 1.4em;
}
#catalog_main {
  min-height: 25em;
  width: 75%;
}
/* @end */

#parent {
	color: #6e6e6e;
	font-weight: bold;
}

/* @group Facets */

#sidebar .facet{
	margin-bottom: 1em;
	-webkit-border-radius: 5px;
	-webkit-border-radius: 5px;
}
#sidebar .facet ul {
	padding: .3em;
}
#sidebar .facet .action {
	text-align: right;
}
#sidebar .facet .label {
	display: inline;
	padding-right: .8em;
}
#sidebar .facet .label .count {
	font-size: .8em;
}
#sidebar .facet .caption {
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	color: white;
	padding: .2em .5em;
	font-weight: bold;
}
#sidebar .facet .caption a {
	color: white;
	text-decoration: none;
}

#sidebar .facet .caption a:hover {
	text-decoration: underline;
}

#sidebar .facet .labels {
	padding: .5em;
}

/* @end */

/* @group Filter */
#filter {
	margin-bottom: 1em;
}

#filter ul li {
	display:  inline;
}

#filter ul li.item {
	margin-right: 1em;
}

#filter ul li.item strong {
	-webkit-border-radius: 3px;
	padding: .2em .5em;
	color: white;
}

/* @end */

#sidebar .collection {
	margin-bottom: .5em;
}
#sidebar .collection li {
	padding: .3em .5em;
/*	border-bottom: 1px solid #eee;	*/
}
.handle {
	cursor: move;
}
#sidebar li.collapsable .content{
	margin-top: .5em;
}
#sidebar li.topic {
  font-weight: bold;
}
#sidebar li.slide {
  font-weight: normal;
}

#sidebar form input[type=text] {
	width: 90%;
}

/* @group FacetColors */

span.color {
	font-weight: bold;
	color: white;
	padding: .1em .5em;
}
.red {background-color: #d10818;}
.red_lite {background-color: #f9c0c4;}
.red_lite a {color: #d10818;}

.orange {background-color: #ff6300;}
.orange_lite {background-color: #ffd2a7;}
.orange_lite a {color: #d43d00;}

.yellow {background-color: #f4cb00;}
.yellow_lite {background-color: #f3e8b6;}
.yellow_lite a {color: #f4cb00;}

.green {background-color: #55b100;}
.green_lite {background-color: #c1f294;}
.green_lite a {color: #55b100;}

.blue {background-color: #478adb;}
.blue_lite {background-color: #bfd8f7;}
.blue_lite a {color: #478adb;}

.violet {background-color: #8600ab;}
.violet_lite {background-color: #cf9ddc;}
.violet_lite a {color: #8600ab;}

.gray {background-color: #3a3a3a;}
.gray_lite {background-color: #c5c5c5;}
.gray_lite {color: #3a3a3a;}

/* @end */

#drop_asset {
  cursor: 'pointer';
}
#name_warning {
  color: red;
  font-weight: bold;
}
#title_warning {
  color: red;
  font-weight: bold;
}
#file_warning {
  color: red;
  font-weight: bold;
}
#url_warning {
  color: red;
  font-weight: bold;
}
