.fassets_core {
  text-align: left;

  li {
    list-style: none;
  }
}

a.icon {
	padding-left: 18px;
	background-repeat: no-repeat;
}
a.icon.remove {
  background-image: image-url("fassets_core/remove.png");
}
a.icon.edit {
  background-image: image-url("fassets_core/edit.png");
}
a.icon.link {
  background-image: image-url("fassets_core/link.png");
}
a.icon.file {
  background-image: image-url("fassets_core/image.png");
}

.action {
	font-size: 10pt;
}
.center {
	text-align: center;
}

.clear {
	clear: both;
}

/* @group Container */

#container {
	padding: 15px;
  margin-bottom: 10px;
	background-color: white;
}

.active {
	background-color: #dce9ff;
	border: 1px dotted #0060ff;
}
.hover {
	border: 1px solid #0060ff;
	background-color: #dce9ff;
}

/* @end */

#parent {
	color: #6e6e6e;
	font-weight: bold;
}

/* @group FacetColors */

span.color {
	font-weight: bold;
	color: white;
	padding: .1em .5em;
}
.red {background-color: #d10818;}
.red_lite {background-color: #f9c0c4;}
.red_lite a {color: #d10818;}

.orange {background-color: #ff6300;}
.orange_lite {background-color: #ffd2a7;}
.orange_lite a {color: #d43d00;}

.yellow {background-color: #f4cb00;}
.yellow_lite {background-color: #f3e8b6;}
.yellow_lite a {color: #f4cb00;}

.green {background-color: #55b100;}
.green_lite {background-color: #c1f294;}
.green_lite a {color: #55b100;}

.blue {background-color: #478adb;}
.blue_lite {background-color: #bfd8f7;}
.blue_lite a {color: #478adb;}

.violet {background-color: #8600ab;}
.violet_lite {background-color: #cf9ddc;}
.violet_lite a {color: #8600ab;}

.gray {background-color: #3a3a3a;}
.gray_lite {background-color: #c5c5c5;}
.gray_lite {color: #3a3a3a;}

/* @end */

#drop_asset {
  cursor: 'pointer';
}
#name_warning {
  color: red;
  font-weight: bold;
}
#title_warning {
  color: red;
  font-weight: bold;
}
#file_warning {
  color: red;
  font-weight: bold;
}
#url_warning {
  color: red;
  font-weight: bold;
}
