#sidebar {
  float: right;
  right: 0%;
  width: 25%;
  height: 100%;

  .classification_form {
    margin-bottom: 1em;
    margin-right: .5em;
    height: 65px;
    background-color: #888888;
    border: 2px solid #777777;
    border-radius: 5px;
    label {
      margin-left: 7px;
      margin-top: 5px;
      margin-bottom: 3px;
      font-size: 16px;
      color: white;
      text-shadow: 1px 1px #777777;
    }
    #classification_catalog_id {
      position: relative;
      top: 0px;
      left: 5px;
      float: left;
    }
    .classification_create {
      position: relative;
      top: -10px;
      left: 20px;
    }
  }
  .classification_sidebar {
    background-color: #888888;
    border: 2px solid #777777;
    border-radius: 5px;
    margin-right: .5em;
    .title {
      margin-left: 7px;
      margin-top: 5px;
      margin-bottom: 3px;
      font-size: 16px;
      color: white;
      text-shadow: 1px 1px #777777;      
    }
    .collection {
      margin-bottom: .5em;
      padding: 0;
      margin-right: .5em;

      .classification_header {
        margin-bottom: 10px;
        height: 30px;
        margin-left: 0;
        .classification_title {
          font-size: 16px;
          font-weight: bold;
          float: left;
          margin-top: 5px;
          padding: 3px;
          padding-left: 6px;
          padding-right: 6px;
          position: relative;
          top: 0px;
          color: white;
          text-shadow: 1px 1px #777777;
        }
        .classification_drop {
          float: left;
          position: relative;
          top: 5px;
          left: 15px;
        }
      }  
      li.classification {
        margin-left: .5em;
        margin-bottom: .5em;
        //background-color: #666666;
        //border: 2px solid #555555;
        border-radius: 5px;
      }
    }
  }
  
  form input[type=text] {
    width: 90%;
  }
}
