#sidebar {
  float: right;
  right: 0%;
  width: 25%;
  height: 100%;

  .collection {
    margin-bottom: .5em;
    padding: 0;
  
    .classification_title {
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 5px;
    }
    li {
      padding: .3em .5em;
    }
  }
  
  form input[type=text] {
    width: 90%;
  }
}
