=javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery?

#add_asset_sidebar
  =render :partial => "add_asset_sidebar", :locals => {:selected_type => selected_type}

#add_asset_content
  -if selected_type == "remote"
    =render :partial => @content.class.to_s.underscore.pluralize + "/remote_file_form", :locals => {:new => true}
  -elsif selected_type == "local"
    =render :partial => @content.class.to_s.underscore.pluralize + "/form", :locals => {:new => true}
  -elsif selected_type == "wikiimg"
    =render :partial => @content.class.to_s.underscore.pluralize + "/wiki_img_form", :locals => {:new => true}
  -else
    =render :template => "assets/new", :locals => {:new => true}
