-if new
  #file_asset_form
    =stylesheet_link_tag "jquery-ui-theme_base.css" 
    =javascript_include_tag "jquery.tmpl.min.js"

    =form_for @content, :url => asset_content_path(@content),:html => {:multipart => true} do |f| 
      //=fields_for "#{@content.class.to_s.underscore}" do |asset|
      =render :partial => "shared/error", :locals => {:target => @content}
      %p
        %label{:for => 'catalog_id'} Catalog:
        =select("classification", "catalog_id", Catalog.all.inject([]){|m,c| m << [c.title, c.id]})
            
      #fileupload
        =form_for :file_asset, :html => { :multipart => true } do |f|
          .fileupload-buttonbar
            %label.fileinput-button
              %span
                Add files...
                =f.file_field :file
            %br
            %button{:type=>"submit",:class=>"start"}Start upload
            %button{:type=>"reset",:class=>"cancel"}Cancel upload
            %button{:type=>"button",:class=>"delete"}Delete files
        .fileupload-content
          %table{:class=>"files"}
          .fileupload-progressbar

    =render :partial => "file_assets/template-upload"
    =render :partial => "file_assets/template-download"
    =render :partial => "file_assets/fileupload_widget"
  #edit_asset_content
-else
  %p
    %label{:for => 'author'} Author:
    =text_field :file_asset, :author, :value => @content.author
  %p
    %label{:for => 'source'} Source:
    =select :file_asset, :source, options_for_select(["YouTube","Flickr","Wikipedia","Other"], @content.source), {:include_blank => true}
  %p
    %label{:for => 'license'} License:
    =text_field :file_asset, :license, :value => @content.license
