-if new
  =content_for :head do
    =stylesheet_link_tag "jquery-ui-theme_base.css" 
    =javascript_include_tag "jquery.tmpl.min.js"
    
  #fileupload
    =form_for :file_asset, :html => { :multipart => true } do |f|
      .fileupload-buttonbar
        %label.fileinput-button
          %span
            Add files...
            =f.file_field :file
        %button{:type=>"submit",:class=>"start"}Start upload
        %button{:type=>"reset",:class=>"cancel"}Cancel upload
        %button{:type=>"button",:class=>"delete"}Delete files
    .fileupload-content
      %table{:class=>"files"}
      .fileupload-progressbar

  =render :partial => "template-upload"
  =render :partial => "template-download"
  =render :partial => "fileupload_widget"
-else
  %p
    %label{:for => 'author'} Author:
    =text_field :file_asset, :author
  %p
    %label{:for => 'source'} Source:
    =select :file_asset, :source, options_for_select(["YouTube","Flickr","Wikipedia","Other"]), {:include_blank => true}
  %p
    %label{:for => 'license'} License:
    =text_field :file_asset, :license
