=link_to image_tag(@content.file_url(:medium), :id => "asset_"+@content.asset.id.to_s,:alt => @content.asset.name, :class => "fit asset", :width => @content.image_width_preview, :height => @content.image_height_preview), @content.file_url, :class=> "zoom"
