-content_for :h1 do
  #type
    Wikipedia
  #name
    Results for
    =search_key
  
=form_for @content, :url => asset_content_path(@content),:html => {:multipart => true} do |f| 
  %p
    %label{:for => 'catalog_id'} Catalog:
    =select("classification", "catalog_id", Catalog.all.inject([]){|m,c| m << [c.title, c.id]})
  %ul
    %li.wiki_img
      -image_urls.each do |image|
        =image_tag(image, :width=>"200px", :height => "200px")
        =check_box_tag :remote_file_url, image
  =hidden_field_tag :source, "Wikipedia"
  =submit_tag "Add"
